body {
	background-color: darkolivegreen;
	font-family: 'Quicksand', sans-serif;
font-family: 'Cabin', sans-serif;
}
header {
	
	background: url(../img/dembow.jpg) no-repeat;
	background-size: cover;
	height: 200px;
	width: 1330px;
	margin: 10px;
	border-radius: 20px;
	/*margin-left: 160px;*/
}

header img {
	margin-top: -30px;
	border-radius: 10px;
}

.row {
  display: flex;
}

.column1, .column2 {
  flex: 1;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  margin: 10px;
  padding: 20px;
  line-height: 30px;
}